{% extends 'bootstrap/base.html' %}

{% block title %}{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .navbar-default .navbar-brand{
            background:#337ab7;
            color:#fff;
            font-style: italic; 
        }
        .content{
            margin-top:40px;
        }
    </style>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script>
        function logout(){
            axios.get('/auth/logout').then(function(resp){
                console.log(resp)
            })
        }
        document.onload = function(){
            document.querySelector('#login').onclick = function(){
                logout()
            }
        }
    
    </script>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand brand-bg" href="#">NdNl</a>    
        <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-home"> Home</span></a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            {{current_user.is_authenticated}}
            {% if current_user.is_authenticated %}
            <li><a href="javascript:;"  onclick="logout" id="logout"><span class="glyphicon glyphicon-log-out"> Logout</span></a></li>
            {% else %}  
            <li><a href="javascript:;" id="login"><span class="glyphicon glyphicon-log-in"> Login</span></a></li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>

{% endblock %}
{% block content %}


{% endblock %}