{% extends 'bootstrap/base.html' %}

{% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/ndnl.ico" type="image/x-icon">
    <link href="/static/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-default .navbar-brand{
            background:#337ab7;
            color:#fff;
            font-style: italic; 
        }
        .content{
            margin-top:40px;
        }
    </style>
    {% block style %}
    {% endblock %}

    <script src="/static/axios.min.js"></script>
    <script>
        function logout(){
            axios.get('/auth/logout').then(function(resp){
                console.log(resp)
            })
        }
        document.onload = function(){
            document.querySelector('#login').onclick = function(){
                logout()
            }
        }
    
    </script>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand brand-bg" href="#">NdNl</a>    
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-home"> Home</span></a></li>
            <li class="active"><a href="{{ url_for('main.search') }}"><span class="glyphicon glyphicon-search"> Search</span></a></li>
            <li class="active"><a href="{{ url_for('main.analysis') }}"><span class="glyphicon glyphicon-indent-right"> Analysis</span></a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="javascript:;"  onclick="logout" id="logout"><span class="glyphicon glyphicon-log-out"> Logout</span></a></li>
            {% else %}  
            <li><a href="{{ url_for('auth.login') }}" id="login"><span class="glyphicon glyphicon-log-in"> Login</span></a></li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>

{% endblock %}
{% block content %}
{% endblock %}

{% block scripts %}
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap3/js/bootstrap.min.js"></script>
{% block script %}
{% endblock %}

{% endblock %}